  <div class="modal-header">
    <h5 class="modal-title">New Note</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <label for="id">id</label>
    <input type="id" name="id" class="form-control" [(ngModel)]="note.id" required>
    <hr> -->
    <label for="title">title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="note.title" required>
    <hr><label for="title">content</label>
    <input type="content" class="form-control"
    name="content" [(ngModel)]="note.content" required>
    <hr><label for="title">label</label>
    <input type="label" class="form-control"
    name="label" [(ngModel)]="label.name" required>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveClick()">Save changes</button>
</div>

<!-- </ng-template> -->