


/* .text{
    color: aliceblue;
} */
.text-center {
    position: fixed;
    top: 40%;
    left: 48%;
    margin: -25px 0 0 -25px;
    /* transform: translate(-10%, 100%); */
    /* text-align: center; */
    /* justify-content: center; */
}




.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    margin-top: 20px;
}

.mt-top {
    margin-top: 30px;
}

.mt-top-2 {
    margin-top: 10px;
}