

    .addButton {
    margin-top:0px;
    /* outline: none; */
    left: 95%;
    top: 0;
    text-align: center;
    position: fixed;
    width: 5%;
    /* height: 100px; */
    background-color: rgb(255, 174, 0);
    /* border-top-left-radius: 50%; */
    /* border-top-right-radius: 50%; */
    /* border: 0px solid gray; */
    /* border-bottom: 0; */
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
    color: gray;
    /* font-size: -webkit-xxx-large; */
    /* font-weight: bold; */
}